<launch>
	<include file="$(find mybot)/launch/mybot_navigation.launch" />

					<!--  ************** gmapping ***************  -->
	<node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen"/>

				<!--  ************* Visualisation **************  -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find mybot)/config/rviz_slam.rviz" required="true" />
</launch>
